<form action="/buy_stocks" method="post">
         <div class="form-group">
	  <label for="username">Stock amount</label>
	  <input type="integer" class="form-control" id="exampleInputEmail1" name="username" required>
	 </div>
         
	 <div>
	  <label for="password">Stock ticker name</label>
	  <input type="text" class="form-control" id="exampleInputPassword1" name="password" required>
         </div>
 
	 <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>