
<form action="/registration" method="post">
         <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="username" required>
   </div>

   <div>
    <label for="password">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
         </div>

   <div>
    <label for="email">Email</label>
    <input type="email" class="form-control" id="exampleInputPassword1" name="email" required>
         </div>

   <button type="submit" class="btn btn-outline-primary">Create</button>
</form>
~                                                                                                                                    ~                                       
